<div class="container">
<h1>{{title}}</h1>
<p>how to be hipsta-licious</p><br><br><br>
<p class="green">Write a sentence or two, and we'll hipstafy it for you!</p>
<form class="" action="/hipstafy" method="post">
  <textarea type="text" name="hipstafy" rows="10" cols="100"></textarea><br>
  <input type="submit" name="" value="Submit">
</form>
</div>
