* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

.green {
  color: green;
  font-size: 20px;
}

h1 {
  font-size: 75px;
  color: blue;
}

p {
  font-size: 30px;
  color: orange;
}

a {
  color: #00B7FF;
}
